---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Getting Started">
  <h1 class="title">Getting Started</h1>

  <div class="content">
    <h2>Installation</h2>

    <pre><code>
{`npm install youruikit`}
    </code></pre>

    <h2>Importing Components</h2>

    <pre><code>
{`import { Button } from "youruikit";`}
    </code></pre>

    <h2>Import Styles</h2>

    <pre><code>
{`import "youruikit/dist/index.css";`}
    </code></pre>

    <p>
      youruikit is built for simplicity and works with any React setup.
    </p>
  </div>
</Layout>
