---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Documentation">
  <h1 class="title">Documentation</h1>

  <div class="content">
    <ul>
      <li><a href="/docs/getting-started">Getting Started</a></li>
      <li><a href="/docs/button">Button</a></li>
      <li><a href="/docs/input">Input</a></li>
      <li><a href="/docs/card">Card</a></li>
      <li><a href="/docs/badge">Badge</a></li>
    </ul>
  </div>
</Layout>
