---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1 class="title">youruikit</h1>
  <br
  <p class="subtitle">
    A lightweight React UI kit for indie developers.
  </p>

  <div class="buttons">
    <a class="button is-primary" href="/docs">Read Docs</a>
    <a class="button is-light" href="https://www.npmjs.com/package/youruikit">
      npm
    </a>
  </div>
</Layout>
